{% extends 'Stories/base.html' %}
{% load static %}

{% block title %}
    Stories
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block content %}
    {% for i in stories %}
        <div class="container-card-news">
            <div class="card-news">
                <div class="card-header">
                    <em>{{ i.title }}</em>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ i.content }}</p>


                </div>
                <div class="card-link">
                    <a href="#">Read more...</a>
                </div>
                <div class="card-footer-text-muted">
                    <em>{{ i.published }}</em>
                </div>
            </div>


        </div>
    {% endfor %}
{% endblock %}
