{% extends 'Stories/base.html' %}
{% load static %}

{% block title %}
    Stories
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-card-news">
        <div class="card-news">
            <div class="card-header">
                <em>Featured</em>
            </div>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu porta elit, sit
                    amet ultrices nisi. Suspendisse accumsan quam dolor, non varius leo vestibulum ac. Donec porttitor
                    tellus nec sapien tincidunt vehicula. Nullam interdum feugiat justo quis porttitor. Duis
                    ullamcorper, risus ut congue convallis, ligula mauris sagittis sem, sed volutpat risus dolor
                    accumsan odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean tempor in purus
                    nec lacinia. In luctus odio odio, et suscipit metus interdum at. Mauris dignissim porta suscipit.

                    Curabitur quis dapibus erat. Donec a quam non nulla finibus varius. Aliquam tempor nec risus eget
                    fermentum. Sed a mi quam. In pellentesque rhoncus gravida. Phasellus facilisis faucibus ipsum et
                    ullamcorper. Suspendisse magna velit, egestas at erat ut, molestie sodales neque. Donec eros orci,
                    faucibus et odio vitae, pretium commodo justo. Duis pulvinar dui quis leo sodales pellentesque.
                    Aliquam efficitur hendrerit maximus. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Mauris aliquam sapien nunc, vitae faucibus metus varius eget. Ut eu
                    ex ornare, pharetra nulla ut, rutrum ipsum. Sed dictum tempus nibh, ut ornare nibh tempus eu.
                    Vestibulum pretium fermentum eros, in euismod augue.</p>


            </div>
            <div class="card-link">
                <a href="#">Read more...</a>
            </div>
            <div class="card-footer-text-muted">
                <em>Дата публикации: 2 days ago</em>
            </div>
        </div>


    </div>
    <div class="container-card-news">
        <div class="card-news">
            <div class="card-header">
                <em>Featured</em>
            </div>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu porta elit, sit
                    amet ultrices nisi. Suspendisse accumsan quam dolor, non varius leo vestibulum ac. Donec porttitor
                    tellus nec sapien tincidunt vehicula. Nullam interdum feugiat justo quis porttitor. Duis
                    ullamcorper, risus ut congue convallis, ligula mauris sagittis sem, sed volutpat risus dolor
                    accumsan odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean tempor in purus
                    nec lacinia. In luctus odio odio, et suscipit metus interdum at. Mauris dignissim porta suscipit.

                    Curabitur quis dapibus erat. Donec a quam non nulla finibus varius. Aliquam tempor nec risus eget
                    fermentum. Sed a mi quam. In pellentesque rhoncus gravida. Phasellus facilisis faucibus ipsum et
                    ullamcorper. Suspendisse magna velit, egestas at erat ut, molestie sodales neque. Donec eros orci,
                    faucibus et odio vitae, pretium commodo justo. Duis pulvinar dui quis leo sodales pellentesque.
                    Aliquam efficitur hendrerit maximus. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Mauris aliquam sapien nunc, vitae faucibus metus varius eget. Ut eu
                    ex ornare, pharetra nulla ut, rutrum ipsum. Sed dictum tempus nibh, ut ornare nibh tempus eu.
                    Vestibulum pretium fermentum eros, in euismod augue.</p>


            </div>
            <div class="card-link">
                <a href="#">Read more...</a>
            </div>
            <div class="card-footer-text-muted">
                <em>Дата публикации: 2 days ago</em>
            </div>
        </div>


    </div>
{% endblock %}
